#brandname{
	font-family: "josefin sans", sans-serif;
	float: left;
	color: #4B9577;
	text-align: left;
	font-size: 50px;
	font-weight: bold; 
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	text-shadow: 2px 1px #616463;
	transpa
}

#tagline{
	float: left;
	font-family: "comic sans", sans-serif;
    text-align: left;
    color: #BA9607;
	font-size: 10px;
	font-weight: bold; 
	margin-top:58px;
	margin-left:1px;
	margin-bottom: 20px;
	}

#loginarea{
	float:left;
	width: 200px;
	font-family: "comic sans", sans-serif;
	clear: both;
	margin-top:150px;
	margin-left: 600px;
	font-weight: bold; 
	color:#0575B3;
	padding:30px;
	border: 3px solid #086599;
}

#loginmsg{
	color: red;
}