*{
	margin: auto;
	 box-sizing: border-box;
}
 


body{
  background-image: url("bg.jpg") ;
}


#brandname{
	font-family: "josefin sans", sans-serif;
	float: left;
	color: #4B9577;
	text-align: left;
	font-size: 50px;
	font-weight: bold; 
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 0px;
	margin-right:0px;
	margin-bottom: 20px;
	width: 100%;
	text-shadow: 2px 1px #616463;
	background-color: #F19B40;
	
}


#loginarea{
	float:left;
	width: 243px;
	font-family: "comic sans", sans-serif;
	clear: both;
	margin-top:190px;
	margin-left: 600px;
	color:#042555;
	padding:35px;
	border: 3px solid #08663E;
		background-color: #279466;
		font-size: 22px;

}

#un{

}


#pw{


}

#submitbtn{


}


#loginmsg{
	color: red;
}