#brandname{
	font-family: "josefin sans", sans-serif;
	float: left;
	color: #4B9577;
	text-align: left;
	font-size: 50px;
	font-weight: bold; 
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	text-shadow: 2px 1px #616463;
}

#tagline{
	float: left;
	font-family: "times new roman", sans-serif;
    text-align: left;
    color: #BA9607;
	font-size: 10px;
	font-weight: bold; 
	margin-top:58px;
	margin-left:1px;
	margin-bottom: 20px;
	}
